
@font-face {
    font-family: 'Arialregular';
    src: url('Arialregular/Arialregular.eot');
    src: url('Arialregular/Arialregular.eot') format('embedded-opentype'),
         url('Arialregular/Arialregular.woff2') format('woff2'),
         url('Arialregular/Arialregular.woff') format('woff'),
         url('Arialregular/Arialregular.ttf') format('truetype'),
         url('Arialregular/Arialregular.svg#Arialregular') format('svg');
         font-weight: 400;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'arialbold';
    src: url('arialbold/arialbold.eot');
    src: url('arialbold/arialbold.eot') format('embedded-opentype'),
         url('arialbold/arialbold.woff2') format('woff2'),
         url('arialbold/arialbold.woff') format('woff'),
         url('arialbold/arialbold.ttf') format('truetype'),
         url('arialbold/arialbold.svg#arialbold') format('svg');
         font-weight: 700;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'arialblack';
    src: url('arialblack/Arial-Black.eot');
    src: url('arialblack/Arial-Black.eot?#iefix') format('embedded-opentype'),
        url('arialblack/Arial-Black.woff2') format('woff2'),
        url('arialblack/Arial-Black.woff') format('woff'),
        url('arialblack/Arial-Black.ttf') format('truetype'),
        url('arialblack/Arial-Black.svg#Arial-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'YuGothic';
    src: url('YuGothic/YuGothic-Regular.eot');
    src: url('YuGothic/YuGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('YuGothic/YuGothic-Regular.woff2') format('woff2'),
        url('YuGothic/YuGothic-Regular.woff') format('woff'),
        url('YuGothic/YuGothic-Regular.ttf') format('truetype'),
        url('YuGothic/YuGothic-Regular.svg#YuGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}