.hm-banner{
	position: relative;
	padding-top: 234px;
	
	background: #F9F9F9;
}
.hm-banner:after{
	display: block;
	content: "";
	clear: both;
}
.hm-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 528px;
	background: #0e0e0e;
	z-index: 2;
}
.hm-banner-cntlr{
	padding-left: 20px;
	position: relative;
	z-index: 3;
	
}
.hm-banner-slider{
	position: relative;
	padding-left: 52px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -55px;
}
.hm-banner-slider-lbdr{
	position: absolute;
	/*top: 0;
	bottom: 0;*/
	left: 0;
	bottom: 0;
	content: "";
	background: #3b99bb;
	height: 100%;
	width: 14px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
	/*animation-delay: 1s;*/
}
.hm-banner-slider-lbdr.activeLine{
	animation-name: hmbslbrr;
	-webkit-animation-name: hmbslbrr;
	-o-animation-name: hmbslbrr;
	-ms-animation-name: hmbslbrr;
	animation-duration: 8s;
	-webkit-animation-duration: 8s;
	-o-animation-duration: 8s;
	-ms-animation-duration: 8s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-direction: forwards;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes hmbslbrr {
  from {height: 100%}
  to {height: 0%}
}
.hm-banner-slide-wrap{
	width: 33.33%;
	padding: 0 55px;
	height: 420px;
}
.hm-banner-slide-item-cntlr{
	
	z-index: 4;
}

.hm-banner-slide-item-title{
	font-weight: 900;
	display: inline-block;
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;
	color: #214754;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hmbsi-md-title{
	font-weight: 900;
	display: block;
	font-size: 32px;
	line-height: 1.1;
	text-transform: uppercase;
	color: #6e6e6e;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hmbsi-sm-title{
	font-weight: 900;
	display: inline-block;
	font-size: 24px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #6e6e6e;
	align-items: baseline;
	margin-top: auto;
}
.hm-banner-slide-item-desc{
	position: absolute;
	bottom: 0;
	left: 107px;
	width: 715px;
	z-index: 5;
	opacity: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
}
.active-item .hm-banner-slide-item-title{
	color: #3B9ABB;
}
.active-item .hmbsi-md-title,
.active-item .hmbsi-sm-title{
	color: #FFFFFF;
}
.hm-banner-slide-item-desc p{
	font-size: 16px;
	margin-bottom: 7px;
}
.active-item .hm-banner-slide-item-desc{
	opacity: 1;
}

.cc-vdo-sec{
	padding-bottom: 33px;
	background: #f9f9f9;
	padding-top: 131px;
}
.cc-vdo-sec-inr{

}
.cc-vdo-sec-lft-cntlr{
	width: 50%;
	float: left;
	position: relative;
}
.cc-vdo-sec-lft-cntlr:after{
	position: absolute;
	content: "";
	background: #3B9ABB;
	width: 86px;
	height: 86px;
	top: 34px;
	right: -86px;
	z-index: 5;
}
.cc-video-fencybox-cntlr{
	position: relative;
	overflow: hidden;
	height: 500px;
}
.cc-video-fencybox-cntlr:hover .cc-video-fencybox-img{
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.cc-video-fencybox-img{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cc-video-play-cntlr{
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.cc-video-play-cntlr a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 67px;
	width: 108px;
	border: 5px solid #fff;
	color: #fff;
	font-size: 37px;
}
.cc-vdo-sec-right-cntlr{
	width: 50%;
	float: left;
	background: #fff;
	position: relative;
	margin-top: 50px;
	padding-top: 70px;
	
	
}
.cc-vdo-sec-right-desc-cntlr{
	background: #0F0E0F;
	height: 500px;
	padding: 60px 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cc-vdo-sec-right-desc{
	max-width: 680px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}





.services{
	background: #f9f9f9;
	padding-bottom: 170px;
}
.cc-entry-hdr{
	position: relative;
	display: inline-block;
	padding-top: 55px;
	margin-bottom: 35px;
}
.cc-entry-hdr strong{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	font-family: 'arialblack';
	font-size: 96px;
	line-height: 1;
	color: #FFFFFF;
	text-transform: uppercase

}
.cc-entry-hdding{

}
.cc-entry-title{
	position: relative;
	font-size: 48px;
	font-family: 'arialblack';
	color: #141414;
	display: inline-block;
	line-height: 68px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.cc-entry-title:after{
	position: absolute;
	content: "";
	height: 6px;
	width: 78px;
	background: #3B9ABB;
	bottom: 0;
	left: -25px;
}


.services-tag-cntrr{

}
.services-tag-cntrr ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -15px;

}
.services-tag-cntrr ul > li{
	padding: 0 15px;
}
.services-tag-cntrr ul > li span.src-tag-big-title a{
	display: inline-block;
	color: #3B9ABB
}
.services-tag-cntrr ul > li span.src-tag-medium-title a{
	display: inline-block;
	color: #B1C1C7
}
.services-tag-cntrr ul > li span.src-tag-small-title a{
	display: inline-block;
	color: #B1C1C7
}
.services-tag-cntrr ul > li span a:hover{
/*	color: initial;*/
}
.src-tag-big-title{
	font-family: 'arialblack';
	font-size: 36px;
	line-height: 51px;
	text-transform: uppercase;
	color: #3B9ABB;
}
.src-tag-small-title{
	font-family: 'arialblack';
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #B1C1C7;
	padding-top: 5px;
}
.src-tag-medium-title{
	font-family: 'arialblack';
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	color: #B1C1C7;
	padding-top: 5px;
}
.src-tag-xs-small-title{
	font-family: 'arialblack';
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #B1C1C7;
	padding-top: 5px;

}


.cases{

}
.cases-inr{
	padding-top: 120px;
	padding-bottom: 170px;
}
.hm-cc-cases-entry-hdr{
	display: flex;
	align-items: center;
}
.cases-btn{
	margin-left: auto;
}
.cases-btn .fl-btn{
	width: 273px;
	border-color: #0F0E0F;
	color: #0F0E0F;
}
.cases-btn .fl-btn:hover{
	border-color: #3B9ABB;
	color: #fff;
}
.cc-entry-hdr-strong-gray{
	color: #F9F9F9!important;
	left: -60px!important;
	transform: initial!important;
    -ms-transform: initial!important;
    -webkit-transform: initial!important;
    -o-transform: initial!important;
}


.cases-item-cntlr{

}
.cases-grid{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.cases-item-cntlr{
	padding-left: 12px;
	padding-right: 12px;
	width: 33.33%;
	margin-bottom: 30px;
}
.cases-item{

}
.cases-item-img-cntlr{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 55px;
	height: 287px;
	background: #0e0e0e;
	margin-bottom: 42px;
}
.cases-item-title{
	font-family: 'arialblack';
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 0;
	z-index: 12;
}
.cases-item-title a{
	color: #FFFFFF;
	display: inline-block;
}
.cases-item-img-cntlr:hover .cases-item-title a{
	color: #3B9ABB;
}
.cases-item-img-2{
	position: absolute;
	bottom: 0;
	right: -105px;
}
.cases-item-img{
	position: absolute;
	bottom: 0;
	right: 25px;
}

.cases-item-desc{
	padding-left: 50px;
	padding-right: 35px;
}
.cases-item-sub-tite{
	font-family: 'arialbold';
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 20px;
	color: #141414;
}
.cases-item-desc ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
	margin-bottom: 12px;
}
.cases-item-desc ul li{
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 5px;
}
.cases-item-tag-title{
	font-family: 'ArialNova';
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;

	color: #3B9ABB;
}
.cases-item-desc ul li span a{
	color: #3B9ABB;
}
.cases-item-desc > p{
	color: #141414;
	margin-bottom: 40px;
}
.cases-item-desc-btn{

}
.cases-item-desc-btn a{
	display: inline-block;
	font-family: 'arialbold';
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #3B9ABB;
}
.cases-item-desc-btn a:hover{
	color: #006c92;
}



.cc-left-desc{
	width: 50%;
	float: left;
	margin-top: 50px;
	padding-top: 70px;
	position: relative;

}
.cc-right-img{
	width: 50%;
	float: left;
	background: #f9f9f9;
}
.cc-left-desc:after{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	background: #3B9ABB;
	width: 70px;
	height: 70px;
}
.cc-left-desc:before{
	position: absolute;
	bottom: -5px;
	left: 40%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	content: "";
	background: #C4C4C4;
	width: 279px;
	height: 157px;
}
.cc-left-desc-inr{
	height: 605px;
	background: #0F0E0F;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 160px 50px;
}
.cc-desc-inr-cntlr{
	max-width: 570px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.cc-left-desc-title{
	font-family: 'arialblack';
	position: relative;
	font-size: 72px;
	line-height: 102px;
	margin-bottom: 20px;
	color: #fff;
	z-index: 2;
}
.cc-left-desc-title:after{
	position: absolute;
	content: "";
	left: -39px;
	top: 15;
	height: 36px;
	width: 256px;
	background: #3B9ABB;
	z-index: -1;
}
.cc-left-desc-title a{
	color: #fff;
}
.cc-left-desc-title a:hover{
	color: #3B9ABB;
}
.cc-desc-inr-cntlr > p{
	margin-bottom: 38px;
	color: #fff;
}
.cc-lft-desc-btn{

}
.cc-lft-desc-btn .fl-btn{
	width: 220px;
	border-color: #fff;
	color: #fff;
}
.cc-lft-desc-btn .fl-btn:hover{
	border-color: #3B9ABB;
	color: #fff;
}

.cc-block-sec{
	background: #F9F9F9;
	margin-top: -58px;
	padding-top: 58px;
}
.cc-block-inr{
	padding-top: 130px;
	padding-bottom: 150px;
}
.hm-cc-block-entry-hdr .cc-entry-hdr-strong-gray{
	color: #fff!important;
}
.hm-cc-block-entry-hdr .cc-entry-hdr-strong-gray{
	left: -20px!important;
}
.block-top-btn .fl-btn{
	width: 300px;
}


.cc-block-grid{
	margin: 0 -12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cc-block-items-cntlr{
	padding: 0 12px;
	width: 33.33%;
	margin-bottom: 30px;
}
.cc-block-item-img-wrap{
	position: relative;
}
.cc-block-img-cntlr{
	height: 300px;
	overflow: hidden;
	position: relative;
	margin-bottom: 32px;
}
.cc-block-item:hover .cc-block-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.cc-block-img{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cc-block-img-blog-type{
	position: absolute;
	bottom: 20px;
	right: -12px;
	z-index: 12;
}
.cc-block-img-blog-type span{
	display: inline-block;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #3B9ABB;
    padding: 9px 22px;

}
.cc-block-desc{

}
.cc-block-title{
	font-family: 'arialbold';
	font-size: 24px;
	line-height: 28px;
	color: #141414;
	margin-bottom: 18px;
}
.cc-block-desc > p{
	color: #141414;
	margin-bottom: 16px;
}
.cc-block-desc-btn{

}
.cc-block-desc-btn a{
	display: inline-block;
	font-family: 'arialbold';
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #3B9ABB;
}
.cc-block-desc-btn a:hover{
	color: #006c92;
}




.footer-top-sec{
	padding-top: 144px;
	padding-bottom: 121px;
}
.footer-top-sec-cntlr{
	
}
.footer-top-sec-title{
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	text-align: center;

	color: #3B9ABB;
}
.footer-top-sec-slider{
	padding-left: 150px;
	padding-right: 150px;
}
.footer-top-sec-slide-item{
	text-align: center;
}